{%extends 'base.html'%}

{%block contents%}
 <div class="section-title">
          <h2>ARS</h2>
          <h3>Automated resume screening using natural language processing  <span> APD</span></h3>
          <p>The most qualified applicant for a position must
                be found through careful consideration of job applications,
                which is done during the Automated Evaluation of Resumes
                Using NLP stage of the hiring process. [1] Automated resume
                screening is now a practical alternative to the manual
                screening procedure because to developments in deep learning
                and natural language processing</p>
        </div>
{%endblock%}