{%extends 'users/userbase.html'%}

{%block contents%}



 <div class="section-title">
        <h2>ARS</h2>
        <h3> Automated resume screening using natural language processing  <span> ARS</span></h3>
        <p>Resume Screening is the process of evaluating the resume of the job seekers based on a specific requirement. 
            It is used to identify the candidate eligibility for a job by matching all the requirements needed for the offered role with their resume information such as education qualification, skill sets, technical stuff etc. 
            Resume Screening is a crucial stage in candidate's selection for a job role, it is the stage where the decision making is done whether to move the candidate to the next level of hiring process or not. Traditionally, this process is performed manually, but companies often receive thousands of resumes for job applications. 
            In order to reduce the human involvement and errors, many new ways were introduced in this process. This paper discusses about one such process which is very efficient in performing Resume screening. It includes Natural Language Processing (NLP), an automated Machine Learning Algorithm for screening the resumes. This paper explains the end to end working of a python application which efficiently screens the resumes of the candidates based on the organization's requirement.</p>
      </div>
{%endblock%}
